/* narrow mode */
@media screen and (max-width: 800px) {
    #wrapper {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 72px auto auto auto;
    }
    .sitehead {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        grid-column-start: 1;
        grid-column-end: -1;
        grid-row-start: 1;
        grid-row-end: 2;
        background-color: rgb(51, 0, 102);
        color: white;
        z-index: 3;
    }
    .slogan {
        display: none;
    }
    .title {
        grid-column-start: 1;
        grid-column-end: -1;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .content {
        grid-column-start: 1;
        grid-column-end: -1;
        grid-row-start: 3;
        grid-row-end: -1;
/*         padding-bottom: 100px; */
    }
    .maplink {
        position: -webkit-sticky;
        position: sticky;
        z-index: 3;
        top: 0;
        grid-column-start: 1;
        grid-column-end: -1;
        grid-row-start: 1;
        grid-row-end: 2;
        color: white;
        text-align: right;
        padding-right: 10px;
    }
    .sidebar {
        width: 100%;
        font-size: 2rem;
        background-color: white;
        height: 200px;
        top: 72px;
        position: -webkit-sticky;
        position: sticky;
        display: none;
        grid-row-start: 2;
        grid-row-end: -1;
        grid-column-start: 1;
        grid-column-end: 2;
        z-index: 2;
    }
}

/* wide mode */
@media not screen and (max-width: 800px) {
    #wrapper {
        display: grid;
        grid-template-columns: minmax(180px, 8.09%) auto 8.09%;
        grid-template-rows: 72px auto auto;
    }
    .sitehead {
        grid-column-start: 1;
        grid-column-end: -1;
        grid-row-start: 1;
        grid-row-end: 2;
        background-color: rgb(51, 0, 102);
    }
    .slogan {
        top: 0;
        grid-column-start: 2;
        grid-column-end: -1;
        grid-row-start: 1;
        grid-row-end: 2;
        padding-right: 6px;
        text-align: right;
        vertical-align: text-bottom;
        font-size: 13px;
        color: white;
    }
    .title {
        grid-column-start: 2;
        grid-column-end: -2;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .content {
        grid-column-start: 2;
        grid-column-end: -2;
        grid-row-start: 3;
        grid-row-end: -1;
        max-width: 700px;
        margin-bottom: 64px;
    }
    .maplink {
        display: none;
    }
    .sidebar {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        height: 100vh;
        min-width: minmax(200px, 8.09%);
        grid-row-start: 2;
        grid-row-end: -1;
        grid-column-start: 1;
        grid-column-end: 2;
        padding-left: 16px;
        padding-right: 10px;
        padding-top: 10px;
    }
}

* {
    font-family: Helvetica, sans-serif !important;
    margin: 0px;
}

body {
    background-color: #F0F0F0;
}

img {
    max-width: 100%;
}

figcaption {
    text-align: center;
    font-style: italic;
}


.sitehead > a {
    display: inline-block;
    height: 72px;
    img {
        width: auto;
        height: 72px;
    }
}

.sitehead > h1 {
    width: auto;
    color: white;
    vertical-align: top;
    font-size: 48px;
    line-height: 44px;
}

.title {
    h1 {
	    display: inline;
	    position: relative;
	    font: 72px Helvetica, Sans-Serif;
	    letter-spacing: -2x;
	    color: #6cc684;
        text-shadow: 2px 2px #a8a0c8;
    }
}

hr {
    color: #6cc684;
}
h2 {
    color: #6cc684;
    text-shadow: 1px 1px #a8a0c8;
}


.slogan > img {
    width: auto;
    heig2ht: 48px;
}

.maplink > img {
    width: auto;
    height: 20px;
    padding-top: 14px;
}

.title > h1 {
    margin-left: 10px;
    margin-right: 10px;
    text-align: left;
}

.content {
    .boards-container {
        .board {
            display: inline-flex;
            text-align: center;
            justify-content: center;
            flex-directioin: column;
            align-items: center;
            width: 240px;
            height: 180px;
            padding: 5px;
            margin: 5px;
            border: 1px solid #62d574;
            box-shadow: 1px 1px 6px 1px rgba(213,156, 239, .55);
            border-radius: 8px;
            a {
                font-size: 1.75rem;
                color: #6e629b;
                &:visited {
                    color: #6e629b;
                }
            }
        }
    }
}

.content > p, article {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.content > h2 {
    margin-left: 10px;
}

.sidebar > a:link {
    text-decoration: none;
    color: blue;
}

.sidebar > a:visited {
    text-decoration: none;
    color: blue;
}

.sidebar > a:hover {
    text-decoration: underline;
}

.sidebar > a:active {
    text-decoration: underline;
}

