@media screen and (max-width: 700px) {
  #wrapper {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 54px auto auto auto; }
  .sitehead {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: #330066;
    color: white;
    z-index: 3; }
  .slogan {
    display: none; }
  .title {
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 2;
    grid-row-end: 3; }
  .content {
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 3;
    grid-row-end: -1;
    padding-bottom: 100px; */ }
  .maplink {
    position: -webkit-sticky;
    position: sticky;
    z-index: 3;
    top: 0;
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: 2;
    color: white;
    text-align: right;
    padding-right: 10px; }
  .sidebar {
    width: 100%;
    font-size: 2rem;
    background-color: #330066;
    height: 210px;
    top: 54px;
    position: -webkit-sticky;
    position: sticky;
    display: none;
    grid-row-start: 2;
    grid-row-end: -1;
    grid-column-start: 1;
    grid-column-end: 2;
    z-index: 2; }
    .sidebar p {
      padding-left: 10px;
      padding-right: 10px;
      line-height: 40px; } /* firefox and chrome can't agree on this any other way for some reason */
    .sidebar p > a:link {
      text-decoration: none;
      color: white; }
    .sidebar p > a:visited {
      text-decoration: none;
      color: white; }
    .sidebar p > a:hover {
      text-decoration: underline; }
    .sidebar p > a:active {
      text-decoration: underline; }
  .boardlist {
    column-count: 2; }}

/* wide mode */
@media not screen and (max-width: 700px) {
  #wrapper {
    display: grid;
    grid-template-columns: minmax(160px, 8.09%) auto 8.09%;
    grid-template-rows: 54px auto auto; }
  .sitehead {
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: #330066; }
  .slogan {
    top: 0;
    grid-column-start: 2;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: 2;
    padding-right: 6px;
    text-align: right;
    vertical-align: text-bottom;
    font-size: 13px;
    color: white; }
  .title {
    grid-column-start: 2;
    grid-column-end: -2;
    grid-row-start: 2;
    grid-row-end: 3; }
  .content {
    grid-column-start: 2;
    grid-column-end: -2;
    grid-row-start: 2;
    grid-row-end: -1;
    max-width: 700px;
    margin-bottom: 64px; }
  .maplink {
    display: none; }
  .sidebar {
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 100vh;
    min-width: 160px;
    grid-row-start: 2;
    grid-row-end: -1;
    grid-column-start: 1;
    grid-column-end: 2;
    padding-left: 16px;
    padding-right: 10px;
    padding-top: 10px; }
    .sidebar p {
      line-height: 24px; } /* firefox and chrome can't agree on this any other way for some reason */
    .sidebar p > a:link {
      text-decoration: none;
      color: #432076; }
    .sidebar p > a:visited {
      text-decoration: none;
      color: #432076; }
    .sidebar p > a:hover {
      text-decoration: underline; }
    .sidebar p > a:active {
      text-decoration: underline; }
  .boardlist {
    column-count: 2; }}

* {
  font-family: Helvetica, sans-serif !important;
  margin: 0px; }

body {
  background-color: #F0F0F0; }

img {
  max-width: 100%; }

figcaption {
  text-align: center;
  font-style: italic; }

.sitehead > a {
  display: inline-block;
  height: 54px; }
  .sitehead > a img {
    width: auto;
    height: 54px; }

/*.sitehead > h1 {
  width: auto;
  color: white;
  vertical-align: top;
  font-size: 48px;
  line-height: 44px; }*/

.title h1 {
  display: inline;
  position: relative;
  font: 72px Helvetica, Sans-Serif;
  letter-spacing: -2x;
  color: #4c9684; }

hr {
  color: #4c9684; }

h2 {
  color: #4c9684; }

.slogan > img {
  width: auto;
  height: 48px; }

.maplink > img {
  width: auto;
  height: 20px;
  padding-top: 14px; }

.content {
  padding: 5px;
  margin: 5px;}
  .content a {
    text-decoration: none;
    color: #432076; }
    .content a:visited {
      text-decoration: none;
      color: #432076; }
  .content p {
    padding-left: 10px;
    padding-right: 10px;
    line-height: 1.3; }  /* <--     somehow, firefox and chrome can't agree */
  .content ol, ul {      /*   |---- on how far apart lines are unless I tell */
    line-height: 1.3; }  /* <--     them exactly how far apart they need to be */
  .content h2 {
    margin-left: 10px;
    margin-top: 5px; }
  
.boardlist > p {
  padding-bottom: 0px; }
